= simple_form_for @competition do |f|
  = f.association :competitor_set, :collection => CompetitorSet.all, :prompt => "Choose a set of Competitors", label: "Who will be playing in this competition?", hint: "or " + link_to("create a new set of Competitors", new_competitor_set_path)

  = f.input :name, label: "Name of the competition", hint: "e.g. AFL 2013"
  
  = f.error :base

  = f.button :submit
