.row
  .span12
    .page-header
      %h1
        = @competition.name
        %small Owned by #{@competition.owner.name}
    - if @competition.finished?
      .alert.alert-info This competition has finished!

    - if current_user?(@competition.owner)
      = link_to "Edit competitition", edit_competition_path(@competition), class: "btn"
      = link_to "Create round", new_competition_round_path(@competition), class: "btn"

    - if current_user.participating_in? @competition
      = link_to "Stop participating", unparticipate_in_competition_path(@competition), class: "btn"
    - else
      = link_to "Participate", participate_in_competition_path(@competition), class: "btn"

    = link_to "View Competitor Set", competitor_set_path(@competition.competitor_set)

    %h2 Rounds
    %ul.unstyled
      - for round in @competition.rounds.sort_by(&:closing_time).reverse
        = render round


    %h2 Participants
    %ul
      - for user in @competition.participants
        %li= link_to user.name, user
