.row
  .span12
    .page-header
      %h1
        = @competition.name
        %small Owned by #{@competition.owner.name}
    - if @competition.finished?
      .alert.alert-info This competition has finished!

    - if current_user.participating_in? @competition
      = link_to "Participating", unparticipate_in_competition_path(@competition), class: "btn btn-success"
    - else
      = link_to "Not participating", participate_in_competition_path(@competition), class: "btn btn-error"

    %h2 Participants
    %ul
      - for user in @competition.participants
        %li= link_to user.name, user
