= simple_form_for [@competition, @round], html: { class: 'form-horizontal' } do |f|
  = f.input :closing_date, as: :string, label: "Closing date for tips this round"
  %h3 Matches
  #matches
    = f.simple_fields_for :matches do |match|
      = render 'match_fields', :f => match
    .links
      = link_to_add_association 'add match', f, :matches
  = f.submit class: "btn"