.page-header
  %h1 Round for #{@round.competition.name}
  = link_to "Back to #{@competition.name}", competition_path(@competition)
  - if current_user?(@round.competition.owner) && @round.open?
    | 
    = link_to "Close round early", competition_round_close_early_path(@competition, @round), :confirm => "Are you sure you want to close a round early? The closing date will be set to yesterday.", method: :post

  - if current_user?(@round.competition.owner) && !@round.open?
    - if @round.results_entered
      = link_to "Edit results", edit_competition_round_path(@competition, @round), class: "btn"
    - else
      = link_to "Put in results", edit_competition_round_path(@competition, @round), class: "btn"

- if @round.open?
  Closing #{@round.closing_date}
  - if current_user.has_tips_for?(@round)
    = link_to "Change your tips", competition_round_enter_tips_path(@competition, @round)
  - else
    = link_to "Enter your tips", competition_round_enter_tips_path(@competition, @round)
- else
  Round closed #{@round.closing_date}

- @round.matches.each_with_index do |match, index|
  %legend Match #{index + 1}
  #{match.competitor_1.name} vs. #{match.competitor_2.name}
  - unless match.result.nil?
    | Winner:
    %b
      #{match.winner}
  %br
  Tips:
  %ul
    - match.tips.each do |tip|
      = explain(tip)
      - if @round.has_results?
        = tip.calc_score

