.page-header
  %h1
    #{@user.name}
    %small #{@user.email}

%h2 Cumulative Score
= @user.participant_scores
%br
T-W-D: #{@user.t}-#{@user.w}-#{@user.d}

%h2 Owned competitions
%ul
  - for comp in @user.owned_competitions
    %li= link_to comp.name, comp

%h2 Participating competitions
%ul
  - for comp in @user.participating_competitions
    %li
      = link_to comp.name, comp
      | Score: #{comp.score_for(@user)}

